{% load static %}
{% load original_images %}
{% load original_images_01 %}
{% load original_images_02 %}
{% load original_images_03 %}


<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="{% static 'assets/css/contact_model_style.css' %}">

  <!----------addition_all css--------->
  <link rel="stylesheet" href="{% static 'assets/css/additional_all.css' %}">

  <!-- Vendor CSS Files -->
  <link href="{% static 'simple_assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'simple_assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'simple_assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'simple_assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'simple_assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'simple_assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">

  <link href="{% static 'simple_assets/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  {{ original_image|json_script:"original-image" }}

  <!---------------contact us model/prompt + portfolio images------------>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>
<style>
	/*------------------model image auto slide-------------------*/
	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container011 {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}
.post {
  background-color: white;
  position: absolute;
  left: 600px;
  width: 600px;
  height: 600px;
  transition: 2s;
}
.post:nth-of-type(1) {
  left: 0;
}
.img {
  width: 100%;
  height: 500px;
}
.img img {
  width: 100%;
  height: 100%;
}
.box {
  width: 150px;
  margin: 20px auto;
}
.box div {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid 2px aquamarine;
  border-radius: 50%;
}

</style>


<body class="page-portfolio" style="overflow: hidden;">

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">

    <div class="container" data-aos="fade-up">
      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
        data-portfolio-sort="original-order">

        <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100" style="padding: 0%;">


          <div class="centerall">

            <li data-filter="*" class="filter-active"><b>All</b></li>
            <li data-filter=".filter-controllers"><b>Controllers</b></li>
            <li data-filter=".filter-embeddedlinux"><b>Embedded Linux</b></li>
            <li data-filter=".filter-pcb"><b>PCB designing</b></li>
            <li data-filter=".filter-web"><b>Web & App</b></li>

          </div>

        </ul><!-- End Portfolio Filters -->


        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="300">

          <div class="pageHoverFull">
            <div class="pageHover" id="password_page">
              <p>Write the password to access the image</p>
              <br>
              <input style="width:50%" type="text" id="password_text" name="password" placeholder="password">
              <br>
              <center><button class="button" id="password_submit" style="left=-69%;">Submit</button></center>
              <div class="others">
                <a href="{% static 'img/portfolio/app-1.jpg' %}" title="App 1" data-gallery="portfolio-gallery-app"
                  class="glightbox preview-link"></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"></a>
              </div>
            </div>





            {% if original_image %}
            {% for x in controllervar %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-controllers">

              <!--<img src="{% get_original_image_view x password %}" class="img-fluid portimgnew" alt=""-->
              <!--  onclick="return controllerrfun(`{{x.insideContains}}` )">-->

              <img src="{% get_original_image_view x password %}" class="img-fluid portimgnew" alt=""
                onclick="return controllerrfun()">

              <div class="portfolio-info" style="position: relative; top: -37%;margin-left: -9%;">

                <h4>{{x.title}}</h4>
                <p>{{x.description}}</p>
                <!-- <p>{{x.insideContains}}</p> -->
              </div>
            </div>
            {% endfor %}

            {% else %}
            {% for x in controllervar %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-controllers">
              <img src="{{x.get_blur_image_url }}" class="img-fluid portimgnew" alt="">
              <!--<div class="portfolio-info" style="position: relative; top: -37%;margin-left: -9%;">-->
              <!--      <h4>{{x.title}}</h4>-->
              <!--      <p>{{x.description}}</p>-->
              <!--</div>-->
            </div>
            {% endfor %}
            {% endif %}


            <!------------------------------------------------------->
            {% if original_image_01 %}
            {% for x in EmbeddedLinuxvar %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-embeddedlinux">
              <img src="{% get_original_image_view_01 x password %}" class="img-fluid portimgnew" alt=""
                onclick=embeddedlinuxxfun(src)>
              <div class="portfolio-info" style="position: relative; top: -37%;margin-left: -9%;">
                <h4>{{x.title}}</h4>
                <p>{{x.description}}</p>
                <!--<a href="{{x.EmbeddedLinux.url}}" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
                <!--<a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}
            {% else %}
            {% for x in EmbeddedLinuxvar %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-embeddedlinux">
              <img src="{{x.get_blur_image_url_01 }}" class="img-fluid portimgnew" alt="">
              <!--<div class="portfolio-info" style="position: relative; top: -37%;margin-left: -9%;">-->
              <!--      <h4>{{x.title}}</h4>-->
              <!--      <p>{{x.description}}</p>-->
              <!--</div>-->
            </div>
            {% endfor %}
            {% endif %}


            <!------------------------------------------------------->
            {% if original_image_02 %}
            {% for x in PcbDesigningvar %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-pcb">
              <img src="{% get_original_image_view_02 x password %}" class="img-fluid portimgnew" alt=""
                onclick=embeddedlinuxxfun(src)>
              <div class="portfolio-info" style="position: relative; top: -37%;margin-left: -9%;">
                <h4>{{x.title}}</h4>
                <p>{{x.description}}</p>
                <!--<a href="{{x.EmbeddedLinux.url}}" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
                <!--<a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}
            {% else %}
            {% for x in PcbDesigningvar %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-pcb">
              <img src="{{x.get_blur_image_url_02 }}" class="img-fluid portimgnew" alt="">
              <!--<div class="portfolio-info" style="position: relative; top: -37%;margin-left: -9%;">-->
              <!--      <h4>{{x.title}}</h4>-->
              <!--      <p>{{x.description}}</p>-->
              <!--</div>-->
            </div>
            {% endfor %}
            {% endif %}


            <!------------------------------------------------------->
            {% if original_image_03 %}
            {% for x in WebAppvar %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="{% get_original_image_view_03 x password %}" class="img-fluid portimgnew" alt=""
                onclick=embeddedlinuxxfun(src)>
              <div class="portfolio-info" style="position: relative; top: -37%;margin-left: -9%;">
                <h4>{{x.title}}</h4>
                <p>{{x.description}}</p>
                <!--<a href="{{x.EmbeddedLinux.url}}" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
                <!--<a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}
            {% else %}
            {% for x in WebAppvar %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img src="{{x.get_blur_image_url_03 }}" class="img-fluid portimgnew" alt="">
              <!--<div class="portfolio-info" style="position: relative; top: -37%;margin-left: -9%;">-->
              <!--      <h4>{{x.title}}</h4>-->
              <!--      <p>{{x.description}}</p>-->
              <!--</div>-->
            </div>
            {% endfor %}
            {% endif %}

          </div>

        </div><!-- End Portfolio Container -->
      </div>
    </div>
  </section><!-- End Portfolio Section -->


  {% for x in pics %}
  <img src="{{x.image.url}}" class="img-fluid" alt="Responsive image">

  {% endfor %}


  <!---------------------------portfolio model start------------->
  <div id="myModalcontrollerr" class="modalport">



    <div class="modalport-content" style="background-color: transparent !important;border: 0px !important; width:95%">

      <!-- <div style="width:100%;height:100%;border:1px solid #000; background-color: #ABBAEA;"> -->

      <div class="modalport-header1">
        <!----------header area------------>
      </div>

      <div class="modalport-body" style="width:100%; height:10%;">
        <!-- <div style="width:100%;height:100%; border:0px solid #000; background-color: transparent "> -->

        <button class="button" id="btnclosecontroller" style="position: absolute; left: 0%;">Close</button>
        <button class="button" id="btn_next" style=" right: 5.5%;">Next</button>

        <!-- </div> -->
      </div>



      <div class="modalport-footer1"
        style="width: 100%; height:80%; background-color: rgb(39, 11, 6);  margin: 0% 0% 0% 0%; padding : 1%">

        <div class="column" id="myDiv"
          style="background-color:rgb(70, 15, 221); width: 50%; height:100%; overflow-y: scroll;">
          <!-- <center> -->




          {% for x in controllervar %}
            <img style="top:0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;"
            src="{% get_original_image_view x password %}">

            <!--<img style="top:0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;"-->
            <!--src="{% get_original_image_view x password %}">-->

            <!--<img style="top:0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;"-->
            <!--src="{% get_original_image_view x password %}">-->

            <!--<img style="top:0; right: 0; left: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;"-->
            <!--src="{% get_original_image_view x password %}">-->

          {% endfor %}


          <!-- </center> -->
        </div>

        <div class="column" style="background-color:rgb(212, 28, 28); width: 50%; height:100%; overflow:scroll;">
          <!-- <h1 style="color:black; text-align: right;">{{x.title}}</h1> -->

          <div id="SomeText"> </div>

        </div>
      </div>
    </div>
  </div>

  </div>


  <div id="myModalembeddedlinuxx" class="modalport">
    <div class="modalport-content" style="background-color: transparent !important;border: 0px !important">
      <div class="modalport-header1">
        <!-- Leave this empty for now-->
        <!-- span class="close">&times;</span -->
      </div>
      <div class="modalport-body">
        <ul>
          <li style="left: 0%; position: absolute;"><button class="button" id="btncloseembeddedlinux">Close</button>
          </li>
          <li style="right: 0%; position: absolute;"><button class="button" id="btn_next">Next</button></li>
          </u>
      </div>
      <div class="modalport-footer1">
        <div class="row">
          <div class="column" style="background-color:#aaa; width: 50%;">
            <center>
            <!---------------auto slide img----------------->
                <div class="container011">
                  <div class="post">
                    <div class="img">
                              <!--<img id="embid" alt="Embeddedlinux" class="port-mod-img">-->
                              {% for x in EmbeddedLinuxvar %}
                                <img id="embid" src="{{ x.EmbeddedLinux.url }}">
                               {% endfor %}
                    </div>
                    <h1>title - 1</h1>
                  </div>

                  <div class="post">
                    <div class="img">
                              <!--<img id="embid" alt="Embeddedlinux" class="port-mod-img">-->
                                {% for x in EmbeddedLinuxvar %}
                                <img id="embid" src="{{ x.EmbeddedLinux.url }}">
                               {% endfor %}
                    </div>
                    <h1>title - 2</h1>
                  </div>

                  <div class="post">
                    <div class="img">
                              <!--<img id="embid" alt="Embeddedlinux" class="port-mod-img">-->
                                {% for x in EmbeddedLinuxvar %}
                                <img id="embid" src="{{ x.EmbeddedLinux.url }}">
                               {% endfor %}
                    </div>
                    <h1>title - 3</h1>
                  </div>

                  <div class="post">
                    <div class="img">
                              <!--<img id="embid" alt="Embeddedlinux" class="port-mod-img">-->
                                {% for x in EmbeddedLinuxvar %}
                                <img id="embid" src="{{ x.EmbeddedLinux.url }}">
                               {% endfor %}
                    </div>
                    <h1>title - 4</h1>
                  </div>

                <div class="box">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>

                </div>

                <!---------------auto slide img----------------->
            </center>
          </div>
          <div class="column" style="background-color:#bbb; width: 50%;">
            <h1 style="color:black; text-align: right;">{{x.title}}</h1>
            <p>{{x.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myModalpcbdesigningg" class="modalport">
    <div class="modalport-content" style="background-color: transparent !important;border: 0px !important">
      <div class="modalport-header1">
        <!-- Leave this empty for now-->
        <!-- span class="close">&times;</span -->
      </div>
      <div class="modalport-body">
        <ul>
          <li style="left: 0%; position: absolute;"><button class="button" id="btnclosepcbdesigning">Close</button></li>
          <li style="right: 0%; position: absolute;"><button class="button" id="btn_next">Next</button></li>
          </u>
      </div>
      <div class="modalport-footer1">
        <div class="row">
          <div class="column" style="background-color:#aaa; width: 50%;">
            <center>
              <img id="pcbid" alt="Controller" class="port-mod-img">
            </center>
          </div>
          <div class="column" style="background-color:#bbb; width: 50%;">
            <h1 style="color:black; text-align: right;">{{x.title}}</h1>
            <p>{{x.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myModalwebappp" class="modalport">
    <div class="modalport-content" style="background-color: transparent !important;border: 0px !important">
      <div class="modalport-header1">
        <!----------header area------------>
      </div>
      <div class="modalport-body">
        <ul>
          <li style="left: 0%; position: absolute;"><button class="button" id="btnclosewebapp">Close</button></li>
          <li style="right: 0%; position: absolute;"><button class="button" id="btn_next">Next</button></li>
        </ul>
      </div>
      <div class="modalport-footer1">
        <div class="row">
          <div class="column" style="background-color:#aaa; width: 50%;">
            <center>
              <img id="webid" alt="Controller" class="port-mod-img">
            </center>
          </div>
          <div class="column" style="background-color:#bbb; width: 50%;">
            <h1 style="color:black; text-align: right;">{{x.title}}</h1>
            <p>{{x.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>





<!----------------------model auto slide image ------------------------------------>
<script>
const post = document.getElementsByClassName("post");
const b = document.querySelectorAll(".box div");
const p = post.length;
let i = 0;

setInterval(next, 2000);

function next() {
  if (i === 0) {
    post[i + 1].style = "left:600px;z-index:1";
    b[i + 1].style = "";

    post[p - 1].style = "left:-600px;z-index:1";
    b[p - 1].style = "";

    post[i].style = "left:0;z-index:3";
    b[i].style = "background-color:aquamarine";
    i++;
  } else if (i > 0 && i < p - 1) {
    post[i - 1].style = "left:-600px;z-index:1";
    b[i - 1].style = "";

    post[i].style = "left:0;z-index:3";
    b[i].style = "background-color:aquamarine";

    post[i + 1].style = "left:600px;z-index:1";
    b[i + 1].style = "";
    i++;
  } else if (i === p - 1) {
    post[i - 1].style = "left:-600px;z-index:1";
    b[i - 1].style = "";

    post[i].style = "left:0;z-index:3";
    b[i].style = "background-color:aquamarine";

    i = 0;

    post[i].style = "left:600px;z-index:1";
    b[i].style = "";
  }
}
</script>
<!--------------------------------------------------------------->





  <script>


    var my_time;
    var count = 0;
    setTimeout('pageScroll()', 1200);
    function pageScroll() {
      // If condition to set repeat
      if (count < 2) {
        var objDiv = document.getElementById("myDiv");
        objDiv.scrollTop = objDiv.scrollTop + 1;
        if (objDiv.scrollTop == (objDiv.scrollHeight - 61)) {
          setTimeout(function () {
            objDiv.scrollTop = 0;
            count++;
          }, 1200);
        }
        //set scrolling time start
        my_time = setTimeout('pageScroll()', 10);
        //set scrolling time end
      }
    }






    // Get the modal
    var controllermodal = document.getElementById("myModalcontrollerr");
    var embeddedlinuxmodal = document.getElementById("myModalembeddedlinuxx");
    var pcbdesigningmodal = document.getElementById("myModalpcbdesigningg");
    var webappmodal = document.getElementById("myModalwebappp");


    // When the user clicks on <span> (x), close the modal
    document.getElementById('btnclosecontroller').onclick = function () {
      controllermodal.style.display = "none";
    };
    document.getElementById('btncloseembeddedlinux').onclick = function () {
      embeddedlinuxmodal.style.display = "none";
    };
    document.getElementById('btnclosepcbdesigning').onclick = function () {
      pcbdesigningmodal.style.display = "none";
    };
    document.getElementById('btnclosewebapp').onclick = function () {
      webappmodal.style.display = "none";
    };



    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    function controllerrfun(p1, p2, inside) {
      console.log(p1);
      document.getElementById("SomeText").innerHTML = p1;
      controllermodal.style.display = "block";

    }

    function embeddedlinuxxfun(p1) {
      console.log(p1);
      let img = document.getElementById("embid");
      img.src = p1;
      embeddedlinuxmodal.style.display = "block";
    }
    function pcbdesigninggfun(p1) {
      let img = document.getElementById("pcbid");
      img.src = p1;
      console.log(p1);
      pcbdesigningmodal.style.display = "block";
    }
    function webapppfun(p1) {
      let img = document.getElementById("webid");
      img.src = p1;
      console.log(p1);
      webappmodal.style.display = "block";
    }

  </script>

  <!------------------------------portfolio model end------------------->




  <!------------------portfolio-password-hover----------------->

  <script src="{% static 'simple_assets/js/portfolio_main.js' %}"></script>
  <script type="text/javascript">


    let passwordText = document.getElementById("password_text");
    let passwordPage = document.getElementById("password_page");

    // console.log(passwordPage);

    let passwordSubmit = document.getElementById("password_submit");

    var value = JSON.parse(document.getElementById('original-image').textContent);
    console.log(value)
    if (value) {
      passwordPage.remove()
    }

    passwordSubmit.addEventListener("click", function (event) {
      var imageUrl = window.location.origin + "/check-password-image/" + passwordText.value + "/";

      fetch(imageUrl, { method: 'HEAD' })
        .then(res => {
          if (res.ok) {
            //  window.location.replace(window.location.origin+"/trail/"+passwordText.value+"/");
            window.location.replace(window.location.origin + "/projects/" + passwordText.value + "/");
          } else {
            alert("password is wrong")
          }
        }).catch(err => console.log('Error:', err));

    });
  </script>








  <!-- Vendor JS Files -->
  <script src="{% static 'simple_assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'simple_assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'simple_assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'simple_assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'simple_assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'simple_assets/vendor/php-email-form/validate.js' %}"></script>

</html>